.footer {
    padding: 41px 30px 25px;
    &__crm {
        margin-left: 40px;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border-radius: 50%;
    }
}