.header {
    display: flex;
    padding: 53px 30px 70px;
    &__panel {
        display: flex;
        margin-left: auto;
        & > * {
            &:not(:last-child) {
                margin-right: 17px;
            }
        }
    }

    &__intranet-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        padding: 0 36px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        background: #344488;
        border-radius: 38px;
        transition: background-color 0.35s linear;
        

        @media (hover: hover) {
            &:hover {
                background-color: #000;
            }
        }
    }
    &__options {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #344488;
        transition: background-color 0.35s linear;
        svg {
            transition: transform 0.35s ease-in;
        }
        @media (hover: hover) {
            &:hover {
                background-color: #000;
                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }
    &__favorite {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #ffffff;
        transition: background-color 0.35s linear;
        svg {
            animation: heartbeat 1s infinite;
        }
        @media (hover: hover) {
            &:hover {
                // background-color: #000;
            }
        }
    }
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}