.header {
	@include to(1024px) {
		padding: 20px 40px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 32px;
	}

	display: flex;
	padding: 53px 30px 70px;

	&__logo {
		@include to(1024px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			max-width: 200px;
		}

		flex-shrink: 0;
		max-width: 100%;
		opacity: 0;
		transform: translateX(-5%);
		transition: transform 0.3s ease-out, opacity 0.3s ease-out;

		img {
			width: 100%;
			height: auto;
		}

		.is-animate &{
			opacity: 1;
			transform: translateX(0);
		}
		@include to(1024px) {
			body.is-loaded &{
				opacity: 1;
				transform: translateX(0);
			}
		}
	}

	&__crm {
		@include from(769px) {
			display: none;
		}

		justify-self: end;
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #ffffff;
		border-radius: 50%;
	}

	&__panel {
		@include to(1024px) {
			grid-column: 1 / -1;
			margin: 0;
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 20px;
		}
		@include to(320px) {
			grid-template-columns: 1fr;
			gap: 14px;
		}
		display: flex;
		margin-left: auto;
		
		opacity: 0;
		transition: opacity 0.5s ease-out;
		transition-delay: 0.1s;
		.is-animate &{
			opacity: 1;
		}
		@include to(1024px) {
			body.is-loaded &{
				opacity: 1;
			}
		}
		&>* {
			&:not(:last-child) {
				@include to(1024px) {
					margin-right: 0;
				}

				margin-right: 17px;
			}
		}
	}

	&__intranet-link {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 52px;
		padding: 0 36px;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		background: #344488;
		border-radius: 38px;
		transition: background-color 0.35s linear;
		order: 2;

		@media (hover: hover) {
			&:hover {
				background-color: #000;
			}
		}
	}

	&__options {
		@include to(1024px) {
			display: none;
		}

		display: flex;
		justify-content: center;
		align-items: center;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		background: #344488;
		transition: background-color 0.35s linear;
		order: 3;
		margin-right: 0;
		svg {
			transition: transform 0.35s ease-in;
		}

		@media (hover: hover) {
			&:hover {
				background-color: #000;

				svg {
					transform: rotate(90deg);
				}
			}
		}
	}

	&__favorite {
		@include to(1024px) {
			width: 100%;
			border-radius: 38px;
			margin-right: 0;
		}

		display: flex;
		justify-content: center;
		align-items: center;
		// width: 45px;
		height: 52px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 38px;
		transition: background-color 0.35s linear;
		padding-left: 25px;
		padding-right: 17px;
		order: 1;
		margin-right: 17px;
		border: 1px solid #fff;
		span {
			margin-left: 13px;
			font-weight: bold;
			font-size: 12px;
			line-height: 14px;
		}
		svg {
			flex-shrink: 0;
		}
	}
}
