extends ../layouts/default

block variables
	- const title = "autorization";

block content

	section.autorization#auth-login
			header.header
				figure.header__logo
					img(src="images/logo.svg" alt="sanofi logo")
				figure.header__crm
					img(src="images/onesrm.svg")
			div.autorization__inner
				div.autorization__block
					h2.autorization__title Добро пожаловать!
					div.autorization__text Пожалуйста, введите адрес корпоративной почты 
					form.autorization__form.autorization__form--login.is-success
						div.autorization__inputbox
							label.autorization__label 
								input(type="email" required)
								span E-mail
						div.autorization__indicator
						button(type="submit").autorization__btn 
							span Отправить
			div.footer
				figure.footer__crm
					img(src="images/onesrm.svg")
		
	section.autorization#auth-password
		header.header
			figure.header__logo
				img(src="images/logo.svg" alt="sanofi logo")
			figure.header__crm
				img(src="images/onesrm.svg")
		div.autorization__inner
			div.autorization__block
				h2.autorization__title Добро пожаловать!
				div.autorization__text Пожалуйста, введите пароль
				form.autorization__form.autorization__form--password.is-error
					div.autorization__inputbox
						label.autorization__label 
							input(type="password" required)
							span Пароль
					div.autorization__indicator
					a(href="#").autorization__back Назад
					button(type="submit").autorization__btn 
						span Отправить
					a(href="#").autorization__again отправить пароль еще раз
		div.footer
			figure.footer__crm
				img(src="images/onesrm.svg")
block scripts
	script(src="js/main.js")

