extends layouts/default
include helpers/mixins

block variables
	- const title = "Sanofi"

block content
	div.page
		main.page__slider.swiper-container
			div.swiper-wrapper.page__slider-wrapper
				section.swiper-slide.screen.greet#greet
					header.greet__header.header
						figure.header__logo
							img(src="images/logo.svg" alt="sanofi logo")
						figure.header__crm
							img(src="images/onesrm.svg")
						div.header__panel
							a(href="#").header__intranet-link Интранет
							a(href="#" data-popup-id="help").header__options.js-popup
								<svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.461 11.689H26.25c-.234-.8-.553-1.57-.953-2.302l1.564-1.564c.601-.6.601-1.575 0-2.176L24.354 3.14c-.602-.6-1.576-.6-2.177 0l-1.564 1.564c-.731-.4-1.502-.719-2.302-.953V1.539c0-.85-.689-1.539-1.539-1.539h-3.544c-.85 0-1.54.689-1.54 1.539v2.212c-.799.234-1.57.553-2.3.953L7.822 3.14c-.601-.6-1.575-.6-2.176 0L3.14 5.647a1.539 1.539 0 000 2.176l1.564 1.564c-.4.731-.719 1.502-.953 2.302H1.539c-.85 0-1.539.689-1.539 1.539v3.544c0 .85.689 1.54 1.539 1.54h2.212c.234.799.553 1.57.953 2.3L3.14 22.178a1.539 1.539 0 000 2.176l2.507 2.507c.6.6 1.575.6 2.176 0l1.564-1.564c.731.4 1.502.719 2.302.953v2.212c0 .85.689 1.539 1.539 1.539h3.544c.85 0 1.54-.689 1.54-1.539v-2.212c.799-.234 1.57-.553 2.3-.953l1.565 1.564c.6.6 1.575.6 2.176 0l2.507-2.507c.6-.6.6-1.575 0-2.176l-1.564-1.564c.4-.731.719-1.502.953-2.302h2.212c.85 0 1.539-.689 1.539-1.539v-3.544c0-.85-.689-1.54-1.539-1.54zm-13.46 9.404A6.09 6.09 0 018.906 15 6.09 6.09 0 0115 8.907 6.09 6.09 0 0121.093 15 6.09 6.09 0 0115 21.093z" fill="#fff"/></svg>
							a(href="#").header__favorite
								<svg width="21" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)" fill="#fff"><path d="M5.91 13.775a3.781 3.781 0 01-.731-1.646c-.156-.99.163-1.795.83-2.53.247-.273.319-.718.456-1.091.016-.045-.058-.125-.094-.189-1.079-1.906-1.64-3.943-1.478-6.144.043-.495.183-.977.412-1.418.406-.787 1.23-.964 1.98-.492.593.375.989.938 1.33 1.532.664 1.141 1.048 2.385 1.269 3.686.02.125.043.25.066.385h1.077c.112-.516.208-1.034.34-1.543.335-1.29.833-2.508 1.732-3.508.278-.305.615-.55.99-.717.587-.262 1.223 0 1.59.599.435.7.505 1.493.473 2.286a11.22 11.22 0 01-1.507 5.307c-.03.052-.085.125-.07.166.124.375.16.843.412 1.08 1.165 1.095 1.189 2.751.282 4.057-.047.066-.093.134-.132.191.37.4.742.772 1.075 1.177a8.623 8.623 0 011.462 2.585.78.78 0 00.38.454c.839.462 1.664.951 2.503 1.415a.778.778 0 01.448.778c-.075 4.012-1.56 7.347-4.719 9.823-3.511 2.75-8.537 2.62-11.928-.287C1.428 27.226.04 23.99 0 20.132a.712.712 0 01.392-.682c.872-.49 1.741-.985 2.605-1.486a.669.669 0 00.275-.304 9.249 9.249 0 012.565-3.797.807.807 0 00.073-.088zm4.374 16.96c2.505-.032 4.494-.84 6.15-2.437 2.163-2.09 3.147-4.717 3.306-7.693a.44.44 0 00-.204-.319c-.735-.436-1.485-.849-2.227-1.28a.391.391 0 00-.449 0c-.88.512-1.773 1.008-2.655 1.52a.756.756 0 01-.838 0c-.866-.511-1.755-1.001-2.629-1.502a.414.414 0 00-.477 0c-.846.493-1.705.963-2.546 1.462-.348.207-.647.224-1.004.012-.845-.52-1.713-.99-2.568-1.491a.388.388 0 00-.45 0 90.98 90.98 0 01-2.254 1.284.313.313 0 00-.193.342c.123 2.16.686 4.181 1.902 5.977 1.765 2.6 4.19 4.034 7.136 4.125zm4.662-27.95c-.052-.3-.104-.766-.22-1.214-.092-.355-.248-.406-.495-.137-.365.39-.682.825-.944 1.293a9.763 9.763 0 00-1.068 3.936c-.034.577-.439.83-.958.6a1.775 1.775 0 00-1.548.037c-.481.228-.898-.025-.943-.56-.022-.26-.032-.52-.07-.776A9.981 9.981 0 007.584 2.49a5.1 5.1 0 00-.715-.969c-.346-.375-.495-.326-.636.155a2.651 2.651 0 00-.117.61A9.32 9.32 0 007.67 8.01a.74.74 0 01.063.788c-.14.299-.25.611-.328.933-.056.285-.212.54-.439.719-.585.475-.75 1.106-.472 1.814.102.27.245.523.423.75 1.113 1.364 2.568 1.932 4.274 1.7a4.32 4.32 0 001.804-.643 4.37 4.37 0 001.356-1.363c.558-.868.41-1.653-.343-2.336a1.577 1.577 0 01-.34-.565c-.142-.341-.235-.705-.378-1.047a.736.736 0 01.048-.763c1.048-1.515 1.452-3.236 1.608-5.212zM4.554 17.811c.866.491 1.71.977 2.564 1.448.07.038.213-.013.301-.063.866-.486 1.746-.971 2.606-1.482a.84.84 0 01.947 0c.866.5 1.732.99 2.598 1.488a.36.36 0 00.42.015c.742-.439 1.502-.859 2.253-1.289.066-.042.13-.088.193-.137a7.734 7.734 0 00-2.19-3.062c-2.493 1.722-4.98 1.718-7.474-.026a7.742 7.742 0 00-2.218 3.108z"/><path d="M10.491 10.933a.594.594 0 01.577.383c.03.077.044.16.042.242a.63.63 0 01-.368.64.613.613 0 01-.714-.163.627.627 0 01-.147-.49.61.61 0 01.376-.569.594.594 0 01.234-.043zM9.65 10.484a.608.608 0 01-.401.544.592.592 0 01-.234.031.617.617 0 01-.387-.221.63.63 0 01.04-.84.616.616 0 01.408-.182.592.592 0 01.55.423.61.61 0 01.024.245zM11.354 10.451a.613.613 0 01.167-.451.599.599 0 01.44-.185c.165 0 .322.066.438.183a.629.629 0 010 .884.616.616 0 01-.869.006.608.608 0 01-.176-.437z"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h21v32H0z"/></clipPath></defs></svg>
								span ИЩЕМ ПАСХАЛКИ
					div.greet__content.grid-container
						div.greet__content-box
							h1.greet__title Это OneCRM
							div.greet__content-screen
								figure
									picture 
										source(srcset="images/screen-new.png" media="(min-width: 769px)")
										source(srcset="images/screen-mobile@x1.png 1x, images/screen-mobile@x2.png 2x" media="(max-width: 768px)")
										img(src="images/screen1@x1.png")
							div.greet__text #[b Дорогие коллеги!]#[br] Мы открываем новую главу во взаимодействии с нашими партнерами и клиентами. Со 2 августа мы в Санофи Россия запускаем систему OneCRM — рабочий инструмент полевых сотрудников, который оптимизирует наши ежедневные процессы, сделает работу еще комфортнее и эффективнее, высвободит время на интересные нестандартные задачи. OneCRM поможет нам внедрить единые методы работы в Санофи. 
							button(type="button" data-popup-id="description").greet__btn.js-popup
								span Это не просто видео 
							button.greet__scroll-btn #[span Листай вниз]
					div.greet__screen
						div.greet__screen-label OneCRM
						figure
							picture 
								source(srcset="images/screen-new.png" media="(min-width: 769px)")
								source(srcset="images/screen-mobile@x1.png 1x, images/screen-mobile@x2.png 2x" media="(max-width: 768px)")
								img(src="images/screen1@x1.png")
					div.greet__footer.footer
						figure.footer__crm
							img(src="images/logo-white.svg")

				section.swiper-slide.screen.hall#hall
					header.header
						figure.header__logo
							img(src="images/logo.svg" alt="sanofi logo")
					div.hall__main.grid-container
						div.hall__box
							img(src="images/vid-thumb.jpg")
							button(type="button" data-popup-id="video-description").hall__video-info.js-popup
								span Информация #[br] о видео
							button(type="button").hall__watch
								span Посмотреть видео
					div.hall__controls.hall-controls
						a(href="#").hall-controls__item.is-active Эпизод 1
						a(href="#").hall-controls__item Эпизод 2
						a(href="#").hall-controls__item Эпизод 3
						div.hall-controls__caret
					div.footer
						figure.footer__crm
							img(src="images/logo-white.svg")
					
		section.popup.popup--description#description(data-popup-id="description")
			div.popup__overlay
			button(type="button").popup__close
			div.popup__inner
				article.popup-description
					div.popup-description__content
						h2.popup-description__title Это не просто видео 
						div.popup-description__text
							div Это ролик, в котором вы можете принимать решения вместе с героем, меняя ход событий. Влиять на то, как выстроится сюжет. Здесь нет правильных и неправильных ответов. Каждая сюжетная линия позволит вам вместе с героем пережить определенный опыт и проверить, к чему может привести конкретное решение.
							div Пройдя все сюжетные линии, вы узнаете, как оптимально действовать в конкретных жизненных обстоятельствах. Этот квест можно проходить сколько угодно раз. Приступайте!
							div Это ролик, в котором вы можете принимать решения вместе с героем, меняя ход событий. Влиять на то, как выстроится сюжет. Здесь нет правильных и неправильных ответов. Каждая сюжетная линия позволит вам вместе с героем пережить определенный опыт и проверить, к чему может привести конкретное решение.
							div Пройдя все сюжетные линии, вы узнаете, как оптимально действовать в конкретных жизненных обстоятельствах. Этот квест можно проходить сколько угодно раз. Приступайте!
							div Это ролик, в котором вы можете принимать решения вместе с героем, меняя ход событий. Влиять на то, как выстроится сюжет. Здесь нет правильных и неправильных ответов. Каждая сюжетная линия позволит вам вместе с героем пережить определенный опыт и проверить, к чему может привести конкретное решение.
							div Пройдя все сюжетные линии, вы узнаете, как оптимально действовать в конкретных жизненных обстоятельствах. Этот квест можно проходить сколько угодно раз. Приступайте!
							div Это ролик, в котором вы можете принимать решения вместе с героем, меняя ход событий. Влиять на то, как выстроится сюжет. Здесь нет правильных и неправильных ответов. Каждая сюжетная линия позволит вам вместе с героем пережить определенный опыт и проверить, к чему может привести конкретное решение.
							div Пройдя все сюжетные линии, вы узнаете, как оптимально действовать в конкретных жизненных обстоятельствах. Этот квест можно проходить сколько угодно раз. Приступайте!
					figure.popup-description__picture
						picture
							source(srcset="images/desc-3@x1.png 1x, images/desc-3@x2.png 2x")
							img(src="" alt="")

		section.popup.popup--help#help(data-popup-id="help")
			div.popup__overlay
			button(type="button").popup__close
			div.popup__inner
				article.popup-help
					div.popup-help__item 
						span Видео доступны с любых корпоративных устройств (iPad, ноутбук, смартфон).
					div.popup-help__item 
						span В случае возникновения проблем с работой корпоративных приложений обращаться в ITS Service Portal или по телефону: #[br] #[b +7 (495) 721 1413 (доб. 1313)] ITS Service Portal работает 24 часа | 7 дней в неделю: #[br] #[b sanofiservices.service-now.com/its]
					div.popup-help__item 
						span NEO Desk будет вашим основным контактом по телефонной линии для поддержки от ITS, доступной на русском языке:#[br] 8:00 - 20:00 по московскому времени:#[br] 24 часа | 7 дней в неделю:#[br] #[b +7 (495) 721 1413 (доб. 1313)]
		
		section.popup.popup--videodesc(data-popup-id="video-description")
			div.popup__overlay
			button(type="button").popup__close
			div.popup__inner
				article.popup-tab
					div.popup-tab__head
						div.popup-tab__control(data-tab-control="desc").is-active Описание
						div.popup-tab__control(data-tab-control="instruction") Инструкция
						div.popup-tab__indicator
							div.popup-tab__indicator-caret
					div.popup-tab__body
						div.popup-tab__tab(data-tab-panel="desc").is-active
							div.popup-tab__content
								div.popup__text Катя, Полина и Кирилл – сотрудники Санофи. Их будни очень насыщены: новые профессиональные контакты, множество встреч, работа на результат  и, конечно, стремление помочь людям, нуждающимся в лекарственных препаратах. Годами они выстраивали систему работы с партнерами и клиентами, но в их жизни наступают изменения.
								div.popup__text Кате, Марине и Кириллу, как и многим сотрудникам Санофи, предстоит пересмотреть свои привычки, учиться и адаптироваться, ведь компания решила внедрить новый инструмент OneCRM.
								div.popup__text Справятся ли герои с предстоящими испытаниями, смогут ли приручить технологии и выйти на новый профессиональный уровень?
								div.popup__text Катя, Полина и Кирилл – сотрудники Санофи. Их будни очень насыщены: новые профессиональные контакты, множество встреч, работа на результат  и, конечно, стремление помочь людям, нуждающимся в лекарственных препаратах. Годами они выстраивали систему работы с партнерами и клиентами, но в их жизни наступают изменения.
								div.popup__text Кате, Марине и Кириллу, как и многим сотрудникам Санофи, предстоит пересмотреть свои привычки, учиться и адаптироваться, ведь компания решила внедрить новый инструмент OneCRM.
								div.popup__text Справятся ли герои с предстоящими испытаниями, смогут ли приручить технологии и выйти на новый профессиональный уровень?
								div.popup__text Катя, Полина и Кирилл – сотрудники Санофи. Их будни очень насыщены: новые профессиональные контакты, множество встреч, работа на результат  и, конечно, стремление помочь людям, нуждающимся в лекарственных препаратах. Годами они выстраивали систему работы с партнерами и клиентами, но в их жизни наступают изменения.
								div.popup__text Кате, Марине и Кириллу, как и многим сотрудникам Санофи, предстоит пересмотреть свои привычки, учиться и адаптироваться, ведь компания решила внедрить новый инструмент OneCRM.
								div.popup__text Справятся ли герои с предстоящими испытаниями, смогут ли приручить технологии и выйти на новый профессиональный уровень?
								div.popup__text Катя, Полина и Кирилл – сотрудники Санофи. Их будни очень насыщены: новые профессиональные контакты, множество встреч, работа на результат  и, конечно, стремление помочь людям, нуждающимся в лекарственных препаратах. Годами они выстраивали систему работы с партнерами и клиентами, но в их жизни наступают изменения.
								div.popup__text Кате, Марине и Кириллу, как и многим сотрудникам Санофи, предстоит пересмотреть свои привычки, учиться и адаптироваться, ведь компания решила внедрить новый инструмент OneCRM.
								div.popup__text Справятся ли герои с предстоящими испытаниями, смогут ли приручить технологии и выйти на новый профессиональный уровень?
							figure.popup-tab__pic
								picture
									source(srcset="images/desc-1@x1.png 1x, images/desc-1@x2.png 2x")
									img(src="" alt="")
						div.popup-tab__tab(data-tab-panel="instruction")
							div.popup-tab__content
								div.popup__text Смотрите ролик и следите за развитием событий. В определенный момент вам предложат выбрать один из нескольких вариантов действий — решить, как поведет себя герой дальше. От вашего выбора зависит развитие сюжета.
								div.popup__text Нашим героям, как и всем нам, свойственны ошибки. Дать им второй шанс — отличная идея! Поэтому вы всегда можете вернуться к моменту принятия решения и выбрать другой вариант действий. Чем все закончится — зависит только от вас!
							figure.popup-tab__pic
								picture
									source(srcset="images/desc-2@x1.png 1x, images/desc-2@x2.png 2x")
									img(src="" alt="")

block scripts
	script(src="js/swiper-bundle.js")
	script(src="js/main.js")
